h1::first-letter{
    font-size:2em;
    font-style:italic;
    color:red;

}
p::first-line{
    background-color:yellow;
    color:blue;
}
p::selection{
    color:rgb(12, 186, 79);
    background-color:rgb(29, 31, 29);
}
#fruit li::before{
    content:"✅";
}
#apple::after{
    content:"🍎";
}
#orange::after{
    content:"🟠";
}
#banana::after{
    content:"🍌";
}
#fruit li::marker{
    content:"✔️";
    color:rgb(203, 65, 65);
    font-size:2em;
}